<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Онлайн-библиотека</title>
    <link rel="stylesheet" href="./style3.css">
</head>
<body>
    <img src="../../Рисунок2.png" alt="Күнделік" width="25%" height="30%">
     <!-- Заголовок и описание -->
     <h1>Библиотека поможет найти художественное произведение</h1>
     <hr> <!-- Горизонтальная линия -->
        
   
        <div class="subject-buttons">
            <button data-subject="oral-literature">Устное народное творчество</button>
            <button data-subject="heroic-epic">Героический эпос</button>
            <button data-subject="poetic-tale">Литературная поэтическая сказка</button>
            <button data-subject="prose-tale">Литературная прозаическая сказка</button>
            <button data-subject="folklore-elements">Фольклорные элементы в литературных произведениях</button>
        </div>

    <main class="container">
        <section data-subject="oral-literature" class="book-section">
             <h3>Устное народное творчество</h3>
            <ul class="book-list">  
                <li>Братья Гримм - <em>Белоснежка и семь гномов</em>
                    <a href="../../books/belosnezhka-i-sem-gnomov.pdf" class="book" target="_blank">Читать</a>
                </li> 
                 <li>- <em>Илья Муромец</em>
                     <a href="../../books/Ilya Muromezh.pdf" class="book" target="_blank">Читать</a>
                </li>    
             </ul>  
        </section>    
        <section data-subject="heroic-epic" class="book-section">                      
            <h3>Героический эпос</h3>
            <ul class="book-list">  
                <li>А.С. Пушкин - <em>Песнь о вещем олеге</em>
                    <a href="../../books/skazka-o-care-berendee.pdf" class="book" target="_blank">Читать</a>
               </li>    
                <li>М.Ю. Лермонтов - <em>Бородино</em>
                    <a href="../../books/borodino.pdf" class="book" target="_blank">Читать</a>
               </li>    
            </ul>  
        </section>                   
        <section data-subject="poetic-tale" class="book-section">          
            <h3>Литературная поэтическая сказка</h3>
            <ul class="book-list">
                <li>А.С. Пушкин - <em>Сказка о мервой царевне и о семи богатрях</em>
                    <a href="../../books/skazka-o-mjortvoj-carevne-i-o-semi-bogatyrjah_24060.pdf" class="book" target="_blank">Читать</a>
                </li>    
                <li>В.А. Жуковский - <em>Сказка о царе Берендее, о сыне его Иване царевиче, о хитростях Кощея Бессмертного и премудрости Марьи-царевны, Кощеевой дочери</em>
                    <a href="../../books/skazka-o-care-berendee.pdf" class="book" target="_blank">Читать</a>
                </li>    
            </ul>
         </section>  
         <section data-subject="prose-tale" class="book-section"> 
             <h3>Литературная прозаическая сказка</h3>
            <ul class="book-list">  
                <li>Г.Х. Андерсен - <em>Снежная королева</em>
                    <a href="../../books/snezhnaya koroleva.pdf" class="book" target="_blank">Читать</a>
                </li>    
                <li>К.Г. Паустовский - <em>Тёплый хлеб</em>
                    <a href="../../books/teplyj-hleb-paustovskij.pdf" class="book" target="_blank">Читать</a>
                </li>    
            </ul> 
        </section>  
        <section data-subject="folklore-elements" class="book-section">    
             <h3>Фольклорные элементы в литературных произведениях</h3>
            <ul class="book-list">  
                 <li>А.С. Пушкин - <em>Руслан и Людмила</em>
                     <a href="../../books/ruslan-i-ljudmila.pdf" class="book" target="_blank">Читать</a>
                </li>  
                <li>М.М. Пришвин - <em>Кладовая солнца</em>
                     <a href="../../books/kladovaya-solnzha.pdf" class="book" target="_blank">Читать</a>
                </li>  
                <li>И.Суриков - <em>Детство</em>
                     <a href="../../books/detstvo.pdf" class="book" target="_blank">Читать</a>
                </li>  
            </ul>
         </section>
    </main> 
     <section class="quote">
        <div class="content-container">
        <h4>Интересный факт</h4>
            <p>«Книга — это окно в мир. Читай и открывай для себя удивительные истории!»</p>
        </div>   
        <img src="i (4).webp" alt="Интересный факт" width="300" height="200">
     </section>
    </main>


 <!-- Подключаем внешний файл -->
 <script src="script.js"></script>
</body>
</html>
   
   