<!-- <!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электронный дневник</title>
	<link rel="stylesheet" href="./style.css">
	<style>
	</style>
</head> -->

{% extends "base.html" %}

{% block content %}
<body>
    <header>
        <h1>Электронный дневник школьника</h1>
		<h1>Привет, {{ current_user.username }}!</h1>
		<hr> <!-- Горизонтальная линия -->
			<img src="{{ url_for('static', filename='images/Рисунок2.png') }}" alt="Күнделік" width="25%" height="30%">
			<div class="icons">
				<span>&#128276;</span>
				<span>&#127760;</span>
			</div>
			<div>
				<a href="#">Вход / регистрация</a>
			</div>
		</header>
		<nav>
			<a href="#"class="btn">ОБРАЗОВАНИЕ</a>
			<a href="#"class="btn">ОБЩЕНИЕ</a>
			<a href="#"class="btn">ПРИЛОЖЕНИЯ</a>
		</nav>
		<div class="subnav">
			<a href="#"class="btn">Моя школа</a>
			<a href="#"class="btn">Мой класс</a>
			<a href="#"class="btn">Дневник</a>
			<a href="#"class="btn">Расписание</a>
			<a href="#"class="btn">Домашнее задание</a>
			<a href="#"class="btn">Чаты</a>
			<a href="../../library.html"class="btn">Онлайн-библиотека</a>
			<a href="../../leto.html"class="btn">Онлайн-репетитор</a>
			<a href="../../leto.html"class="btn">Прочитать летом</a>
		</div>
		<section class="quote">
			<img src="{{ url_for('static', filename='images/i (11).webp') }}"  alt="Background Image">
		 </section>
		
	</body>
	</html>
{% endblock %}